doctype html
html(lang="en")
 head
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  title Cryptocurrency visualization
  link(rel="icon",href="images/favicon.ico")
  link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", rel="stylesheet")
  link(rel="stylesheet", href="stylesheets/main.css")
  script(type="text/javascript", src="/javascripts/d3.js")
  script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
  script(type='text/javascript', src='/primus/primus.js')
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
  script(type='text/javascript', src='/javascripts/gauge.js')
 body
  #header.navbar.navbar-default.navbar-fixed-top
   .navbar-header
    button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target=".navbar-collapse")
     i.icon-reorder
    a.navbar-brand
     | cc.Blocks
   nav.collapse.navbar-collapse
    ul.nav.navbar-nav
     li
      a#bit.crypto(href = "#bitcoin" title ="bitcoin")
       | Bitcoin
       img(src="images/Bitcoin.png", style="width:30px;height:30px")
     li
      a#lite.crypto(href ="#litecoin")
       | Litecoin
       img(src="images/Litecoin.png", style="width:30px;height:30px")
     li
      a#doge.crypto(href="#dogecoin")
       | Dogecoin
       img(src="images/dogecoin.png", style="width:30px;height:30px")
    ul.nav.navbar-nav.pull-right
     li
      a.crypto(href="#")
       | Contact
  .container-fluid
   .row  
    #sidebar-wrapper.col-md-2.col-lg-2.panel.panel-primary
      #break
       p
        block content
      .panel-heading
         h4.panel-title 
          span.glyphicon.glyphicon-plus
          a(data-toggle='collapse', data-parent='#accordion', href='#collapseOne')  What is Bitcoin? 
       #collapseOne.panel.collapse.collapse
        .panel-body    
         |Bitcoin is a digital currency. No one controls it. There are no actual Bitcoins but there is a record of all transactions from the beginning. So, Bitcoin does NOT point to a digital or physical coin like we are used to when checking our bank account. It is decentralised meaning there is no central server running bitcoin. It is run by a network of participants knwon as nodes.  A person can download a Bitcoin wallet to get his/her own personnal bitcoin address which is made up of random letters and numbers.  
      .panel-heading   	
         h3.panel-title
          span.glyphicon.glyphicon-plus
          a(data-toggle='collapse', data-parent='#accordion', href='#collapseThree')  What is the Bitcoin blockchain?
       #collapseThree.panel.collapse
        .panel-body   
         |The Blockchain is an online public ledger where all transactions are stored. An analogy: The blockchain is a train. Each carriage is a block which carries 'letters' (transactions). A carriage appears, collects up all new letters (tx's) in a 10 minute window then shuts the door. The carriage and letters are checked and locked by special people (miners) who get given a reward for doing so. The carriage is then connected to the previous one. In this visualisation, the carriage or block is represented by a coin. Click on one and you will see the number of transactions in that block. of course to do the above, Bitcoin uses complex cryptographic techniques.  	 
      .panel-heading
         h4.panel-title 
          span.glyphicon.glyphicon-plus
          a(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo')  What are Bitcoin transactions? 
       #collapseTwo.panel.collapse.collapse
        .panel-body    
         |In actual fact a bitcoin address is made up of 2 parts (a private and public address intimately related). A private address sits secured on a persons computer and a public one is given to anyone. Everyone is only identified by their public address. 'Frank' sends 50 btc's (a unit of bitcoin) to 'Suzy'. His balance goes down and hers goes up. The transaction is then recorded on the blockchain. To check his balance, he checks how many unspent btc's are linked to his address on the blockchain.  
      .panel-heading
         h4.panel-title
          span.glyphicon.glyphicon-plus
          a(data-toggle='collapse', data-parent='#accordion', href='#collapseFour')  Why do we have litecoins and dogecoins?
       #collapseFour.panel.collapse.collapse
        .panel-body
         |Bitcoin software is open source enabling people to improve on the source code. With an increase in popularity people cloned bitcoin and changed parameters and algorithms. Some for the better some for the worse. Litecoin changed the reward miners receive for each block and also changed the algorithm used by miners to 'lock up' blocks. The Total number of Litecoins that will ever be made = 84,000,000 Ltc. Dogecoin is a fun coin and again a clone of Litecoin. This time the total number of Litecoins made = 98 billion doge + an extra 10% year on year. The rewards are currently set to 25 btc, 50 ltc and 10,000 doge for mining each respective block (btc, ltc and doge are units of each digital currency).
      .panel-heading
         h4.panel-title
          span.glyphicon.glyphicon-plus
          a(data-toggle='collapse', data-parent='#accordion', href='#collapseFive')  What does this visualisation show?
       #collapseFive.panel.collapse.collapse
        .panel-body
         |The visualisations show each blockchain grow in realtime. New Bitcoin blocks are added every 10 minutes. Litecoin blocks arrive roughly every 2  minutes and dogecoin roughly every minute. The visualisation shows the latest 100 bitcoin blocks and only the latest 50 for Dogecoin and Litecoin as they appear more often.  Thus the best blockchain to view is Dogecoin as you see new blocks every minute.  
      #break
        p
      .list-group.hidden.sm.visible-lg
        a.list-group-item.active(href='#')
         h4.list-group-item-heading Further Information
           
        a(href="https://www.blockchain.info" target ="_blank") Bitcoin Blockchain info
          br
        a(href="https://www.coinwarz.com" target = "_blank") CoinWarz
          br    
        a(href="https://www.block-explorer.com" target = "_blank") Litecoin Blockchain info
          br
        a(href="https://dogechain.info/chain/Dogecoin" target = "_blank") Dogecoin Blockchain info   
          br
        a(href="https://www.coindesk.com/news" target = "_blank") Coindesk Latest news 
          br
        a(href="https://en.bitcoin.it/wiki/Main_Page" target = "_blank") Dogecoin Blockchain info     
      span.hidden-xs.hidden-sm
       img.img-responsive(src="http://www.coincadence.com/api/embed/500x250")
      span.hidden-xs.hidden-sm
       iframe(id='widget-ticker',src='//www.coingecko.com/en/widget_component/ticker/dogecoin/usd?id=dogecoin' style='border:none; height:100%; width:100%;' scrolling='no' frmaeborder='0' allowtransparency='true', )
 
      span.hidden-xs.hidden-sm
       iframe(id='widget-ticker',src='//www.coingecko.com/en/widget_component/ticker/litecoin/usd?id=litecoin' style='border:none; height:100%; width:100%;' scrolling='no' frmaeborder='0' allowtransparency='true', )
    #area2.col-md-8.col-lg-8 
     #areatext Please wait bitcoin blocks on the way!!
    #left-table.col-md-2.col-lg-2.hidden-sm.panel.panel-primary.table-responsive 
     #break
      p                                                               
     .panel-heading
      h1.panel-title Detailed Block Information
     table.table.table-hover
      tbody
       tr.info
        td#datapoint1( data-toggle="popover", data-container="body", data-placement="left", title="Block Nr", data-content = "This is the block number")
       tr.info
        td#datapoint2( data-toggle="popover", data-container="body", data-placement="left", data-content="The number of transactions contained in this block", title="Transaction Count")
       tr.info
        td#datapoint3( data-toggle="popover", data-container="body", data-placement="left", title="Block Hash", data-content="This is the hash of the block") 
       tr.info
        td#datapoint4( data-toggle="popover", data-container="body", data-placement="left", title="Previous Block Hash", data-content="This is the Hash of the previous block")
       tr.info
        td#datapoint6( data-toggle="popover", data-container="body", data-placement="left", title="Merkle Root", data-content="Each transaction has an identifying hash. Each of these hashes are 'hashed' again to one another until just one hash remains. This is called the Merkle root and is included in the block header.")
       tr.info
        td#datapoint7( data-toggle="popover", data-container="body", data-placement="left", title="Time", data-content="This is the exact time the block was broadcast to the network")
       tr.info
        td#datapoint10( data-toggle="popover", data-container="body", data-placement="left", title="Bits", data-content="The calculated difficulty target being used for this block")
       tr.info
        td#datapoint11( data-toggle="popover", data-container="body", data-placement="left", title="Difficulty", data-content="Difficulty is a measure of how difficult it is to find a hash below a given target")
       tr.info
        td#datapoint12( data-toggle="popover", data-container="body", data-placement="left", title="Reward", data-content="Each miner competes to solve a difficult mathematical problem. He/she who wins the mathematical race earns a reward in the form of  bitcoins, litecoins or dogecoins")
       tr.info
        td#datapoint14( data-toggle="popover", data-container="body", data-placement="left", title="Total Out", data-content="The total value of all the transactions in the block")
      
     .panel.panel-primary 
      .panel-heading              
         h3.panel-title Previous block time
        .panel-body    
         h1#prevtime 00:00 
     .panel.panel-primary 
      .panel-heading    
         h3.panel-title Time since last Block 
        .panel-body
         h1#watch  00:00
      script(type='text/javascript', src='/javascripts/stopwatch.js') 
     #bitcoincirc.panel.panel-primary
      .panel-heading            
         h3.panel-title  
          span.glyphicon.glyphicon-plus
          a(data-toggle='collapse', data-parent='#accordion', href='#collapseOne')  % of possible Bitcoins in circulation 
       #collapseOne.panel
        #rightp.panel-body    
         |This is the % number of bitcoins mined or rather now available to the public. 
         |In the not too distant future all bitcoins shall be mined. 
         |All Bitcoins will be mined by 2110 to 2140.
      svg#fillgauge1(width='100%', height = '100%', viewBox='-10 0 400 400')
       script. 
          var config2 = liquidFillGaugeDefaultSettings();
          config2.circleColor = "#AA7D39"
          config2.textColor = "#553300";
          config2.waveTextColor = "#805615";
          config2.waveColor = "#AA7D39";
          config2.circleThickness = 0.1;
          config2.circleFillGap = 0.2;
          config2.textVertPosition = 0.8;
          config2.waveAnimateTime = 2000;
          config2.waveHeight = 0.3;
          config2.waveCount = 1;
          loadLiquidFillGauge("fillgauge1", 60.1, config2);   
     #litecoincirc.panel.panel-primary.collapse
      .panel-heading            
         h3.panel-title  
          span.glyphicon.glyphicon-plus
          a(data-toggle='collapse', data-parent='#accordion', href='#collapsetwo')  % of possible Litecoins in circulation 
       #collapsetwo.panel
        #rightp.panel-body    
         |This is the % number of litecoins mined or rather now available to the public. 
         |In the not too distant future all litecoins shall be mined. 
         |All Litecoins are projected to be mined by 2140.
      svg#fillgauge2(width='100%', height = '100%', viewBox='-10 0 120 120')
      script.
       var config1 = liquidFillGaugeDefaultSettings();
       config1.circleColor = "#C0C0C0";
       config1.textColor = "#553300";
       config1.waveTextColor = "#805615";
       config1.waveColor = "#C0C0C0";
       config1.circleThickness = 0.1;
       config1.circleFillGap = 0.2;
       config1.textVertPosition = 0.8;
       config1.waveAnimateTime = 2000;
       config1.waveHeight = 0.3;
       config1.waveCount = 1;
       loadLiquidFillGauge("fillgauge2", 60, config1);


     #dogecoincirc.panel.panel-primary.collapse
      .panel-heading            
         h3.panel-title  
          span.glyphicon.glyphicon-plus
          a(data-toggle='collapse', data-parent='#accordion', href='#collapsetwo')  % of possible Dogecoins in circulation 
       #collapsethree.panel
        #rightp.panel-body    
         |This is the current  % number of dogecoins mined. As Dogecoin is an inflationary coin, 98 billion doge is already mined. Since February 2016 each block gives a reward of 10,000 doge or an extra 5% yearly.   
         
         
      svg#fillgauge3(width='100%', height = '100%' viewBox='-10 0 120 120')
      script(type='text/javascript', src='/javascripts/gauge.js')
      script.   
          var config3 = liquidFillGaugeDefaultSettings();
          config3.circleColor = "#CCFF66";
          config3.textColor = "#553300";
          config3.waveTextColor = "#805615";
          config3.waveColor = "#CCFF66";
          config3.circleThickness = 0.1;
          config3.circleFillGap = 0.2;
          config3.textVertPosition = 0.8;
          config3.waveAnimateTime = 2000;
          config3.waveHeight = 0.3;
          config3.waveCount = 1;
          loadLiquidFillGauge("fillgauge3", 100.2, config3);    
  #footer.navbar.navbar-default.navbar-fixed-bottom
    .container
     p.navbar-text
      | Please Donate to:  
      img(src="images/Bitcoin.png", style="width:30px;height:30px", align="middle") 
      |   1BUyAAkBkEQZcqmTcrmRDpw2oR83KZZPcT
       
         
               
       
  script(type="text/javascript", src="/javascripts/stopwatch.js")
  script#bits(type='text/javascript', src='/javascripts/d3visual.js')
  
 script.
   $(document).ready(function(){
     $('[data-toggle="popover"]').popover({ 
      trigger: "hover"   
     });
   });
 
 script.
  $(document).ready(function(){
    $('#lite').click(function(){
      $('#area2').empty();
      $('#litecoincirc').show();
      $('#bitcoincirc').hide();
      $('#dogecoincirc').hide();
      primus.end();
      $.getScript('/javascripts/d3visual_lite.js');
      closesocket(coin);
      triggerTime(coin);
      console.log('socket '+coin+' closed');
    });
  });
 
 script.
   $(document).ready(function(){
    $('#bit').click(function(){
      $('#area2').empty();
      $('#bitcoincirc').show();
      $('#litecoincirc').hide();
      $('#dogecoincirc').hide();
      primus.end();
      $.getScript('/javascripts/d3visual.js');
      closesocket(coin);
      triggerTime (coin);
      console.log('socket '+coin+' closed');
    });
   });  
 script.
   $(document).ready(function(){
     $('#doge').click(function(){
        $('#area2').empty();
        $('#dogecoincirc').show();
        $('#litecoincirc').hide();
        $('#bitcoincirc').hide();
        primus.end();
        $.getScript('/javascripts/d3visual_doge.js')
         closesocket(coin);
         triggerTime (coin);
         console.log('socket '+coin+' closed');
          
      });
   });
