body{
    background: url("space.jpg");
    -moz-background-size: cover ! important;
    -webkit-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover!important;
}
	
.panel > .panel-heading {
	background-color: #0000a0;
  padding: 5px;
}

.panel {
  font-size:17px;
  text-align:justify;
  border: 0px;
  margin: 0px;
}

.form-control{
 border: 0px; 
 margin: 0px;
}

#events-console{
  padding: 0px;
  font-size: 10px;
}

#rightp{
  font-size:15px;
}

#areatext{
 width: 100%;
 display:none;
 font-size: 60px;
 position:absolute;
 height:100%;
 text-align:center;
 line-height:500px;
 font-weight: bold;
}

.newblock{
  top:50%;
  transform: translateY(-50%);
}

.crypto{
  font-size: 30px;

}
.table {
    table-layout:fixed;
}

.table td {
  white-space: nowrap;
 
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: small;

}

table tbody tr td {
   padding: 1px;
}

.table-hover>tbody>tr>td{
	padding: 3px;
}

a {
  font: 16px imprint mt shadow;     
}
#sidebar-wrapper {
  margin-top:60px; 
}

.panel-height {
  height:900px;
  background-color:red;
}

#left-table{
  margin-top:60px;
}

.row-colour {
  background-color:red;
}


#area2{
  position:relative;
  top:0px;
  left:0px;
      
  margin-top:60px;
  height:100%;
}

.node text {
  line-height: 1;
  font-weight: bold;
  padding: 20px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}
 
.link {
  stroke: black;
  stroke-opacity: .9;
  stroke-width: 4px;
}


div.tooltip {   
  position: absolute;           
  text-align: left;           
  width: 200px;                   
  height: 200;                   
  padding: 2px;               
  font: 16px imprint mt shadow;       
  background: black;   
  border: 2px;       
  border-radius: 8px;
  border-style:solid;
  color: white;
  border-color: black;  
  pointer-events: none;           
}

.navbar-brand  {
  font-size: 30px;
}

.navbar-default {
	background-color: #0000a0;
	border-color:#0000a0;
}
.navbar-default .navbar-brand {
	color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #ecdbff;
}
.navbar-default .navbar-text {
	color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
	color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #ecdbff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #ecdbff;
	background-color: #8e44ad;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #ecdbff;
	background-color: #8e44ad;
}
.navbar-default .navbar-toggle {
	border-color: #8e44ad;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #8e44ad;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #ecf0f1;
}
.navbar-default .navbar-link {
	color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
}

.col:not(:first-child),.col:not(:last-child) {
  padding-right:0px;
  padding-left:0px;
}

.panel-body{
  padding: 5px;
}

h1 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.sidebar-wrapper{
  margin-bottom: 0px;
}
